body{
    font-family: 'Cedarville Cursive', cursive;


}
#addExpress{
    margin:0;
    display: block;

}

.form-group{
    font-size: 25px;
    text-align: center;
}

head{
    text-align: center;

}

h1{
    padding-top: 25px;
    text-align: center;

}

#search-term{
    float: left;
    margin-right: 25px;
}

.searchSubmit{
padding-left: 3%;  
}